<!-- Page Wrapper -->
<div id="wrapper" th:fragment="left">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard/">
          <div class="sidebar-brand-icon rotate-n-15">
              <i class="fas fa-book"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Library Management</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
          <a class="nav-link" href="/dashboard/">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
          Menu
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-book"></i>
              <span>Book</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                  <!-- <h6 class="collapse-header">Custom Components:</h6> -->
                  <a class="collapse-item" href="/book/add">Add Book</a>
                  <a class="collapse-item" href="/book/list">List All Books</a>
              </div>
          </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
              aria-expanded="true" aria-controls="collapseUtilities">
              <i class="fas fa-fw fa-folder"></i>
              <span>Category</span>
          </a>
          <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
              data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                  <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
                  <a class="collapse-item" href="/category/add">Add Category</a>
                  <a class="collapse-item" href="/category/list">List All Category</a>
                  <!-- <a class="collapse-item" href="utilities-animation.html">Animations</a>
                  <a class="collapse-item" href="utilities-other.html">Other</a> -->
              </div>
          </div>
      </li>
	  <li class="nav-item">
	      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesAuthor"
	         aria-expanded="true" aria-controls="collapsePagesAuthor">
	         <i class="fas fa-fw fa-user"></i>
	         <span>Author</span>
	      </a>
	      <div id="collapsePagesAuthor" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
	          <div class="bg-white py-2 collapse-inner rounded">
	              <a class="collapse-item" href="/author/add">Add Author</a>
                  <a class="collapse-item" href="/author/list">List All Author</a>
	          </div>
	      </div>
	  </li>

	  <li class="nav-item">
	      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesStudent"
	         aria-expanded="true" aria-controls="collapsePagesStudent">
	         <i class="fas fa-fw fa-user"></i>
	         <span>Student</span>
	      </a>
          <div id="collapsePagesStudent" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/student/add">Add Student</a>
                <a class="collapse-item" href="/student/list">List All Student</a>
            </div>
        </div>
	  </li>
	
     
      <hr class="sidebar-divider d-none d-md-block">
      <li style="position: fixed; bottom: 10px;margin-left: 1%; "><a style="color: #fff;" href="/logout">Logout</a></li>
  </ul>
</div>